.burger {
  margin-bottom: 40px;
}
.polaroid {
  position: relative;
}
.polaroid img {
  cursor: pointer;
  border: 10px solid #fff;
  border-bottom: 70px solid #fff;
  -webkit-box-shadow: 8px 8px 8px #888;
  -moz-box-shadow: 8px 8px 8px #888;
  box-shadow: 8px 8px 8px #888;
}
.polaroid p {
  position: absolute;
  text-align: center;
  margin-left: 30px;
  margin-bottom: 20px;
  bottom: 0px;
  font: 400 18px/1 'Inconsolata', cursive;
  color: #000;
}
.polaroid p a {
  font-size: 1.2em;
}

@media only screen and (min-width : 768px) {

  .polaroid p a {
    font-size: 1.5em;
  }

}
