<div class="row" *ng-if="burger" class="burger row">
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
			<span class="badge">{{ranking}}</span>
	</div>
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
		<h4>Mmm... sugen på en burgare från {{burger.name}}?</h4>
		<a href="{{ burger.url }}" target="_blank">Kolla in deras hemsida...</a>
	</div>
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
		<img src="img/{{ burger.key + '.jpg' }}" (click)="onSelect(burger)" class="img-responsive img-circle" />
	</div>
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
	</div>
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 hidden">
		<button (click)="goBackToBurgers()" class="btn btn-default">Tillbaka</button>
	</div>
</div>
