nav {
  margin-bottom: 40px;
}
nav > .row {
  margin-top: 30px;
}
nav a {
  padding: 10px 20px;
  font-size: 1.3em;
}
nav a.router-link-active {
  background: #777;
  color: #fff;
}
main {
  margin-top: 30px;
}
